h1{
    color:black;
}


tr:nth-child(odd)
{background: #FFF2CB;}
tr:nth-child(even)
 {background: #FFF;}


body{

}
table{
     color:black;
     border-collapse: collapse ;
     border: 1px solid black;


}
td{

  border: 1px solid black;

	padding: 5px;
}