<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail User</title>
	 <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
	<div class="main_container">
	<div class="big_left">
	
	
	<div class="container">
     <div class="title">
			<h3> User profile</h3>
		</div>
		
		<div class="left" > 
	
			<img width="100px" src="http://amk19.ru/img/no-img.png"/>

		</div>
		<div class="right" > 
	
			<p>Title: Mr</p>
			<p>Gender: Male</p>
			<p>Given name: John</p>
			<p>Middle initial:T</p>
			<p>Surname: Doe</p>
			<p>Company:"GreatCompany, inc"</p>
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
	
	</div> 
	
	<div class="container">
     <div class="title">
			<h3> User info</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>UserName : John doe</p>
			<p>Password John doe password</p>
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>
		
	<div class="container">
     <div class="title">
			<h3>Credit card</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Type: visa</p>
			<p>Number 0000 1111 2222 3333</p>
			<p>Cvv: 012</p>
			<p>Expires in 11/22</p>
			
			
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>
	
	<div class="container">
	
     <div class="title">
			<h3>Human parameters</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Blood type:A+</p>
			<p>Pounds: 33.5</p>
			<p>Kilograms: 75.5</p>
			<p>Feet inces:8.2</p>
			<p>Centimeters 175.5</p>
			<p>Favourite color:red</p>
			
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>

	</div>	

	
	
	<div class="big_right">
	
	
	
	<div class="container">
     <div class="title">
			<h3> Contact</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Email address: jdoe@email.com</p>
			<p>Telephone number: 123456</p>
			<p>Telephone  country code :+123 </p>
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
	
	</div> 
	
	<div class="container">
     <div class="title">
			<h3> Address</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Street address : Street name</p>
			<p>City : Great city</p>
			<p>Country initial:SC</p>
			<p>Country : Some country</p>
			<p>State initials: ss</p>
			<p> State some state</p>
			<p> zip code :0234</p>
			
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>
		
	<div class="container">
     <div class="title">
			<h3>Browser user agent</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Browser agent: Chrome version 48.fofoe</p>
			
			
		
			
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>
	
	<div class="container">
	
     <div class="title">
			<h3>Vehicle</h3>
		</div>
		
		
		<div class="left" > 
	
			<p>Model : BMW 325i</p>
		
		</div>
		
		<div class="button">
        <button type="submit">Edit</button>
		</div>
		
	</div>

	</div>	
	
	<div class="footer">
	
	</div>
	
	</body>
</html>